# Core functionality - changes here should be rare!
/src/app.py                   @Gfast622
/src/backend/database.py      @Gfast622
/src/backend/routers/auth.py  @Gfast622

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Gfast622
